github "ospreyren/Alamofire" "ios8"
github "robb/Cartography" "1.0.1"
github "nixzhu/MonkeyKing" "1.2.2"
github "matthewpalmer/Locksmith" "3.0.0"
github "Hearst-DD/ObjectMapper" "2.2.0"
github "ashleymills/Reachability.swift" "v3"
